body{
    margin: 5% 35%;
    width:400px;
}

#headImg{
    position:relative;
    left:100px
}
#title{
    font-size: 50px;
    left: 50px;
    position: relative;
    top: -94px
}
#bodyDiv{
    position: relative;
    width: 400px;
    height: 300px;
    top: -120px;
    left:-50px
}

.areaDiv{
    height:200px;
    width:100px;
    margin:5px;
    position: absolute;
}

#listDiv{
    left:0;
}

#resultDiv{
    right:0;
}

#bottomDiv{
    position: relative;
    top:-120px;
}

#inputBox{
    position: relative;
    width:375px;
    height:100px;
    top:20px;
    left:10px
}

#submitBtn{
    position: relative;
    top: 30px;
    left: 117px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    cursor: pointer
}

#bottomTxt{
    position: relative;
    top:35px;
}

.lists{
    margin-top:15px;
    width:150px;
    min-height:30px;    
}

.rm{
    position: relative;
    left: 180px;
    top: -30px;
    width: 50px;
    height: 30px;
}

.listbox{
    margin-top:15px;
    height:35px
}

.xbtn{
    position: relative;
    left: 180px;
    top: -30px;
    width: 30px;
    height: 30px;
}


